.sponsors{
    text-align: center;
}
.titl{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.spon{
    color: rgb(16, 194, 222);
}

  
  
  @media (max-width: 768px) {
    .sponsors {
      
      text-align: left; 
    }
  
    .titl {
      
      font-size: 18px; 
    }
  
    .spon {
     
      color: blue; 
    }
  
    
  }
  
 
  